@model ErpHospitalar.Domain.Entities.Paciente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="panel panel-heading">
        <h3>Detalhes do Paciente</h3>
    </div>
    <div class="panel panel-body">
        <div>
            <partial name="_details_delete" />
        </div>
        <div>
            <a asp-controller="Pacientes" asp-action="Edit" asp-route-id="@Model.Id" class="fa fa-pencil-square fa-2x"></a> |
            <a asp-controller="Pacientes" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>