
<div class="panel panel-info">

    <div class="panel panel-heading"><h4>Estados do Pacientes</h4></div>

    <div class="panel panel-body">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <vc:estado-utei></vc:estado-utei>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <vc:estado-estavel></vc:estado-estavel>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <vc:estado-terminal></vc:estado-terminal>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <vc:estado-observacao></vc:estado-observacao>
        </div>
    </div>



</div>